
@import "tailwindcss";

/* Colores oficiales del poder judicial*/

@theme {
  --color-forest:      #315d53;
  --color-sage:        #c1ded4;
  --color-sage-dark:   #a8ccc0;
  --color-sand:        #eadcbd;
  --color-bronze:      #B2915B;
  --color-cream:       #faf8f5;
  --color-strong-coffee: #6A4322;
  --color-bon-white:   #F8F9FA;
  --color-grey:        #6C757D;
}



